#Background{
    background-image: url("../images/ep_naturalwhite.png");
    width:1060px;
    height:353px;
}

div{
    width: 960px;
    height:250px;
    padding: 50px;
        /* Add a border to every `<div>` element */
    
    margin-top:-10px;
    background-color:white;
}
img{
    width:200px;
    float:left;
    padding:10px;
}
#row1{
    background:teal;
    font-size: 15px;
    width:200px;
    margin-top:-50px;
    margin-left:500px;
    color:white;
    text-indent:50px;
}
.links{
    float:left;
    color:grey;
    
}

#aboutMe, #contact, #portfolio{
margin-top:-10px;
color:teal;
}

p{
    padding:10px;
}

#name{
    margin-top:10px;
}

#textname{
    height:20px;
    width:100%;
}
#message{
    height:100px;
    width:100%;
}
#email{
    height:20px;
    width:100%;
}

#gameName{
    background:teal;
    color:white;
    text-align: center;
    width:200px;
    margin-top:-110px;
    margin-left:100px
    
}

footer{
    background-color:#666666;
    width:1160px;
    text-align:center;
    border-top: 5px solid teal;

}
body{
    color:#777777;
}